.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800;
    max-width: 100%;
    max-height: 90%;
    overflow-y: auto;
    background-color: white;

}

.modal-contents {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.modal-contents select {
    width: 40%;
    height: 30px;
}

.modal-count {
    width: 40%;
    height: 30px;
}

.modal-contents input {
    height: 40px;
}

.modal-contents-date {
    display: flex;
    justify-content: space-between;
}

.modal-delete-contents {
    padding: 20px;
}

.modal-target {
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.modal-target-find {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.modal-target-find span {
    margin-right: 30px;
    font-size: larger;
    font-weight: bold;
}

.modal-target-find select {
    width: 100px;
    height: 25px;
    border-radius: 0;
    border: 1px solid lightgray;
    outline: none;

}

.modal-target button {
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}

.modal-result {
    margin-top: 5px;
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 5px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px
}

.modal-result-buttons {
    height: 50px;
}

.modal-result-buttons button {
    height: 40px;
    width: 48.75%;
    border-radius: 5px;
    border: 0px;
    font-weight: bolder;
}

.modal-result-buttons button:nth-child(1) {
    background-color: lightgray;
    border: 1px solid lightgray;
    margin-right: 10px;
}

.modal-close-btn {
    width: 100px;
    border: 1px solid #666666;
    height: 50px;
    font-size: large;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    background-color: buttonface;
    color: black;
    border-width: 2px;
    border-style: outset;
    margin-right: 10px;
    float: right;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.modal-post-btn {
    width: 100px;
    background-color: rgb(26, 192, 46);
    color: white;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    display: inline;
    float: right;
    border: 1px solid rgb(26, 192, 46);
    border-radius: 5px;
}

.delete-img {
    max-width: 460px;
    min-height: 300px;
    border: 0px;
}

.modal-detail-contents {
    padding: 10px;
    overflow-x: auto;
}

.modal-detail-contents pre {
    color: white;
    /* color: rgb(136, 186, 102); */
    font-family: "D2Coding";
}

.modal-detail {
    background-color: rgb(30, 31, 41);
    color: white;
}

.modal-view-contents img {
    width: 458px;
    height: 300px;
}

.modal-view-contents button {}

.modal-next-btns {
    position: absolute;
    display: flex;
    margin-top: -180px;
    width: 92%;
    justify-content: space-between;
    padding: 0px 20px;
}

.modal-next-btns div {
    opacity: 0.3;
    cursor: pointer;
}

.modal-next-btns div:hover {
    opacity: 0.9;
}

.carousel-inner {
    width: 458px;
    height: 300px;
    background-color: #666666;
}

.carousel-control-prev {
    color: black;
    height: fit-content;
    margin-top: 120px;
}
.carousel-control-next {
    color: black;
    height: fit-content;
    margin-top: 120px;
}
.hit-btn {
    position: absolute;
    margin-top: -60px;
    top: 300px;
    right: 25px;
}